.email-input {
  box-sizing: border-box;
  width: calc(100% - 70px);
  height: 50px;
  padding: 15px;
  border: 1px solid #e3e3e3;
}

.email-label {
  display: block;
  font-size: 18px;
}

.button-submit {
  width: 70px;
  height: 50px;
  padding: 0;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}

.button-submit::before {
  content: url("../images/send.svg");
}

.button-submit:hover {
  background: var(--primary-hover);
}
