/** Colors **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

/** FONTS **/

@font-face {
  font-weight: 400;
  font-family: OpenSans-Regular;
  src: url("../assets/fonts/OpenSans-Regular.woff2");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans-Bold;
  src: url("../assets/fonts/OpenSans-Bold.woff2");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha.woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  font-family: OpenSans-Regular, sans-serif;
  margin: 0;
}

header {
  display: block;
}

h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
  margin: 0;
}

img {
  height: auto;
  vertical-align: middle;
}

/* DESIGN STYLES */

.background-light {
  background-color: var(--light);
}

.bg-white {
  background-color: var(--white);
}

div.container.margin-top-100.bg-basic-dark {
  padding-bottom: 0;
  padding-top: 55px;
}

.bg-brown {
  background-color: var(--brown);
}

.color-dark {
  color: var(--dark);
}

.color-basic {
  color: var(--basic);
}

.color-brown {
  color: var(--brown);
}

.color-black {
  color: #000;
}

.color-translucent-white {
  color: var(--translucent-white);
}

.margin-bottom-185 {
  margin-bottom: 145px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-0 {
  margin: 0;
}

.card h3 {
  color: var(--basic);
}

.column-2 p {
  margin-top: 0;
}

.num-style {
  padding-bottom: 40px;
  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
  color: var(--basic-dark);
  text-decoration: none;
}

.p-0 {
  padding: 0;
}

.padding-5 {
  padding: 5px;
}

.pb-100 {
  padding-bottom: 100px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-6-10 {
  padding-top: 6px;
  padding-left: 10px;
}

.padding-bottom-0-margin-bottom-100 {
  padding-bottom: 0;
  margin-bottom: 100px;
}

.padding-24 {
  padding: 24px;
}

.padding-55 {
  padding: 55px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-100 {
  padding-top: 100px;
}

.mb-minus-200 {
  margin-bottom: -200px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-footer {
  margin-top: 76px;
  margin-bottom: 111px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

#height-348 {
  height: 348px;
}

.center {
  text-align: center;
}

.font-weight-400 {
  font-weight: 400;
}

.font-style-normal {
  font-style: normal;
}

.font-family-neucha {
  font-family: Neucha, sans-serif;
}

.font-family-opensans {
  font-family: OpenSans-Regular, sans-serif;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-34 {
  font-size: 34px;
}

.font-size-52 {
  font-size: 52px;
}

.line-height-160 {
  line-height: 1.6;
}

.line-height-29 {
  line-height: 29px;
}

.line-height-72 {
  line-height: 72px;
}

.line-height-120 {
  line-height: 120%;
}

.color-translucent-dark {
  color: var(--translucent-dark);
}

.margin-top-0 {
  margin-top: 0;
}

.page-header {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.page-header::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
  width: 100%;
  height: 100%;
  background: url("../images/background.png");
  display: block;
  opacity: 0.1;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.container {
  position: relative;
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1 1 350px;
  line-height: 26px;
  background-color: var(--light);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--basic-dark);
}

.bg-basic-dark {
  background-color: var(--basic-dark);
}

.text-decoration-none {
  text-decoration: none;
}

.color-white {
  color: var(--white);
}

.img-main {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.column-2 {
  column-count: 2;
  column-gap: 30px;
  break-inside: auto;
}

.btn {
  padding: 12px 24px;
}

.btn-style {
  font-weight: 700;
  background-color: var(--basic);
  color: var(--white);
  text-decoration-line: none;
}

.display-flex {
  display: flex;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-filter {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.vertical-align-middle {
  vertical-align: middle;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.flex-row {
  display: flex;
  gap: 30px;
}

.flex-row-footer {
  display: flex;
  gap: 122px;
  justify-content: center;
}

.col {
  flex-basis: fit-content;
}

input {
  display: block;
  width: 423px;
  height: 50px;
  padding: 15px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  width: 70px;
  background-color: #fe8a02;
  border: none;
}

button::before {
  position: absolute;
  background-image: url("../../images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  content: "";
}

.hover:hover {
  color: #fff;
  background: #ea7600;
}

.hover:hover h3 {
  color: #fff;
  background: #ea7600;
}

.hover:hover .num-style {
  color: #fff;
  background: #ea7600;
}

.img-filter {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.height-348 {
  height: 348px;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.to-upper-case {
  text-transform: uppercase;
}

.border-0 {
  border: 0;
}

.display-block {
  display: block;
}
