.background-light {
  background-color: var(--light);
}

.bg-white {
  background-color: var(--white);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-basic {
  background-color: var(--basic);
}

.color-blue {
  color: var(--blue);
}

.color-dark {
  color: var(--dark);
}

.color-basic {
  color: var(--basic);
}

.color-brown {
  color: var(--brown);
}

.color-black {
  color: #000;
}

.color-translucent-white {
  color: var(--translucent-white);
}

.margin-bottom-185 {
  margin-bottom: 145px;
}

.margin-bottom-76 {
  margin-bottom: 76px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-0 {
  margin: 0;
}
