.container {
  position: relative;
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-row {
  display: flex;
  gap: 30px;
}

.flex-row-footer {
  display: flex;
  gap: 122px;
  justify-content: center;
}

.col {
  flex-basis: fit-content;
}
