/** Colors **/
:root {
  --white:#fff;
  --translucent-white:#d7ccc0;
  --light:#f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark:#908d8b;
  --broun:#b09a81;
  --blue:#1085c5;
}

/** FONTS **/

@font-face {
  font-family: 'Open Sans';
  src: url(/home/zakirkhunkaev/Desktop/layout-designer-project-58/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: 'Neucha';
  src: url(/home/zakirkhunkaev/Desktop/layout-designer-project-58/assets/fonts/Neucha-Regular.ttf);
}

body {
  
  
  font-family: 'Open Sans';
  width: 1440px;
  height: auto;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

section {
  position: relative;
  margin: 0 auto;
  width: 1110px;
  height: auto;
  padding: 100px 0 100px 0;
  
}
/** HEADERS **/
h1, h2, h3 {
  font-family: 'Neucha';
  line-height: 1.2em;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 34px;
}

.background::before {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.06;
  display: block;
  width: 1440px;
  height: 914px;
  
  content:""
}

.header-h1 {
  position: absolute;
  top: 55px;
  width: auto;
  color: var(--basic);
}
.header-h1-1 {
  color: var(--dark);
}
.avatar-of-hexlet {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}
.col {
  columns: 2;
  column-gap: 30px;
  column-width: auto;
  
  
  
}
.margin-top {
  margin-top: 0;
  padding-top: 16px;
}
.text-1 {
  position:absolute;
  top: 539px;
}

.btn-main {
  position: absolute;
  top: 765px;
  left: 567px;
  padding: 12px 24px 12px 24px;
  font-weight: bold;
  background-color: var(--basic);
  color:var(--white);
  text-decoration: none;

}
.section-2 {
  width: 1440px;
  height: 914px;
  background: var(--white);
}

.flex {
  display: flex;
  justify-content: center;
}
.flex-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Petrova-Channel {
  position: absolute;
  width: 1110px;
  height: 26px;
  left: 165px;
  top: 310px;
  font-family: 'Open Sans';
  text-align: center;
  color: #212529;
}

.video {
  position: absolute;
  width: 919px;
  height: 569px;
  left: 261px;
  top:329px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}